:root {
  --hano-primary-50: #faffef;
  --hano-primary-100: #eeffce;
  --hano-primary-200: #e6ffb7;
  --hano-primary-300: #daff96;
  --hano-primary-400: #d3ff81;
  --hano-primary-500: #c8ff62;
  --hano-primary-600: #b6e859;
  --hano-primary-700: #8eb546;
  --hano-green-500: #001814;
  --hano-green-400: #334643;
  --hano-green-300: #546462;
  --hano-white-500: #fffaf3;
  --hano-danger-500: #ff383c;
  --hano-success: #34c759;
  --hano-border: #dce2ea;
  --hano-muted: #667b99;
  --hano-surface: #f9fafb;
}
